div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 5px calc(50% - 50px); /* 0px auto */
    padding: 2% 20px; /*20 pixels nas laterais da caixa(interno)*/

    box-sizing:border-box; /* para que a caixa tenha constantemente 100 pixels é necessário colocar o box sizing */
    border: blue solid 5px; /* essa propriedade adiciona pixels para as bordas */
    border-top: green dotted 5px;
    border-bottom: yellow groove 5px;
    outline: 2px black solid;
}

/*          pratica comum :         */
*{
    box-sizing:border-box;
    margin:0; /*para facilitar se faz isso para "zerar os valores de margem"*/
}
p{
    margin:0px;
    padding: 0 50%;
    border-top: red solid 1em;
}